<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080580857973-odisplu9tcebqnfc1b5rktcc6s8u6m9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080580857973-odisplu9tcebqnfc1b5rktcc6s8u6m9h</string>
	<key>API_KEY</key>
	<string>AIzaSyAzArA3oNVz_um6x78cELBTPoghmiSF6ao</string>
	<key>GCM_SENDER_ID</key>
	<string>1080580857973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Thomas.CollegeBound</string>
	<key>PROJECT_ID</key>
	<string>collegebound-179f1</string>
	<key>STORAGE_BUCKET</key>
	<string>collegebound-179f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080580857973:ios:01d4bc172ba7306f56d83c</string>
	<key>DATABASE_URL</key>
	<string>https://collegebound-179f1.firebaseio.com</string>
</dict>
</plist>